.DS_Store

_application/cache/*
!_application/cache/index.html
!_application/cache/.htaccess

_application/logs/*
!_application/logs/index.html
!_application/logs/.htaccess

_system/*
fonts/*
user_guide/*
