{
    "menu":  [
                {
                    "title" : "Home",
                    "url" : "/",
                    "id": "home.html"
                }
            ,
            
                {
                    "title" : "About",
                    "url" : "/about.html",
                    "id": "about.html",
                    "submenu": [
                        {
                            "title" : "Company Profile",
                            "url" : "/profile.html",
                            "id": "profile.html"
                        },
                        {
                            "title" : "Chairmen",
                            "url" : "/chairmen.html",
                            "id": "chairmen.html"
                        }
                    ]
                }
            ,
            
                {
                    "title" : "Contact",
                    "url" : "/contact.html",
                    "id": "contact.html"
                }
        ]
}